<nav>
    <div>
        <a href = "/"
           style = "color: #222222"
        >
            <h1>
                Spirit Blogs
            </h1>
            <p>
                An Express, MongoDB and EJS site
            </p>
        </a>
    </div>
    <ul>
        <li>
            <a href = "/">
                Home
            </a>
        </li>
        <li>
            <a href = "/about">
                About
            </a>
        </li>
        <li>
            <a href = "/blogs/create">
                Create
            </a>
        </li>
    </ul>
</nav>