<!doctype html>
<html lang = "en">
<%- include("./partials/head.ejs") %>
<body>
<%- include("./partials/navbar.ejs") %>
<div>
    <h3>
        About Us
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque corporis
        eaque facilis iste, maxime minus necessitatibus odit officia quaerat, quam
        veritatis. Aliquid corporis maiores minus, nulla quibusdam similique.
    </p>
</div>
</body>
</html>