<!doctype html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport"
          content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv = "X-UA-Compatible"
          content = "ie=edge"
    >
    <title>Create Blog</title>
</head>
<body>
<nav>
    <div>
        <h1>
            EJS Express App
        </h1>
    </div>
    <ul>
        <li>
            <a href = "/">
                Home
            </a>
        </li>
        <li>
            <a href = "/about">
                About
            </a>
        </li>
        <li>
            <a href = "/blogs/create">
                Create
            </a>
        </li>
    </ul>
</nav>
<div>
    <form>
        <label for = "title">Blog Title:</label>
        <input type = "text"
               id = "title"
               required
        />
        <label for = "snippet">Blog Snippet:</label>
        <input type = "text"
               id = "snippet"
               required
        />
        <label for = "body">Blog Body:</label>
        <textarea id = "body"
                  required
        ></textarea>
        <button>
            Submit
        </button>
    </form>
</div>
</body>
</html>