<!doctype html>
<html lang = "en">
<%- include("./partials/head.ejs") %>
<body>
<%- include("./partials/navbar.ejs") %>
<% const name = "Luigi" %>
<div>
    <h2>
        Hello, <%= name %>
    </h2>
    <h3>
        All Blogs
    </h3>
<!--    we are able to access this image by using the express middleware "static"-->
    <img src = "/pikachu.png"
         alt = "pikachu in combat"
         style = "width: 100%"
    >
</div>
</body>
</html>